.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
   margin-top: 82px;
    .card{
      width: 326px;
      height: 350px;
        padding: 10px 27px;
       .img{
        display: flex;
        align-items: self-start;
        justify-content: center;
        gap: 30px;
        .img_row{
            img{
                width: 173px;
                height: 216px;
                object-fit: contain;
                
            }
        }
       }
       h1{
        font-family: Manrope;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
        width: 227px;
        height: 44px;
        color: #454545;
    
                
       }
       h5{
        font-family: Manrope;
font-size: 12px;
font-weight: 500;
line-height: 13.2px;
text-align: left;
color: #9F9F9F;
height: 12px;
text-decoration: line-through;

       }
      .card_alt{
        display: flex;
        align-items: center;
         justify-content:space-between;
        //  gap: 155px;
         margin-top: 10px;
        .card_all{
            h6{
                font-family: Manrope;
                font-size: 20px;
                font-weight: 700;
                line-height: 22px;
                text-align: left;
                color: #454545;
                // margin-left: -50%;
                
            }
        }
        .card_all_all{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 25px;
            border-radius: 100px ;            
            background: #454545;
          svg{
            font-size: 20px;
            color: #fff;
          }
        }
      }
    }
}
.btn_all_list{
    display: none;
}
 @media(max-width:900px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
   margin-top: 82px;
}
 }

@media(max-width:768px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr ;
   margin-top: 82px;
}
}


@media(max-width:400px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
         margin-top: 42px;
        .card{
            width: 175px;
            height: 260px;
            padding: 10px 16px;
           .img{
            display: flex;
            align-items: self-start;
            justify-content: center;
            gap: 20px;
            .img_row{
                img{
                    width: 96px;
                    height: 126px;
                    object-fit: contain;
                    
                }
            }
           }
        }
    }
    .btn_all_list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 368px;
        height: 50px;
        border-radius: 100px;
        border: 1px solid #454545;
        margin-top: 32px;
        .btn1{
            display: flex;
            align-items: center;
            justify-content: center;
          p{
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            line-height: 21.86px;
            color: #454545;
            
          }
          svg{
             font-size: 20px;
            color:#454545;                
          }
        }
        
    }
}
@media(max-width:360px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
         margin-top: 42px;
        .card{
          width: 160px;
          height: 260px;
            padding: 10px 16px;
           .img{
            display: flex;
            align-items: self-start;
            justify-content: center;
            gap: 10px;
            .img_row{
                img{
                    width: 96px;
                    height: 126px;
                    object-fit: contain;
                    
                }
            }
           }
           h1{
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            text-align: left;            
            width: 118px;
            height: 54px;
            color: #454545;
        
                    
           }
          .card_alt{
            display: flex;
            align-items: center;
             justify-content: space-between;
            .card_all{
                h6{
                    font-family: Manrope;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 17.6px;
                    text-align: left;                    
                    color: #454545;
                    
                }
            }
            .card_all_all{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 25px;
                border-radius: 100px ;            
                background: #454545;
              svg{
                font-size: 20px;
                color: #fff;
              }
            }
          }
        }
    }
    .btn_all_list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 300px;
        height: 50px;
        border-radius: 100px;
        border: 1px solid #454545;
        margin-top: 32px;
        .btn1{
            display: flex;
            align-items: center;
            justify-content: center;
          p{
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            line-height: 21.86px;
            color: #454545;
            
          }
          svg{
             font-size: 20px;
            color:#454545;                
          }
        }
        
    }
}