.bl.light{
    background-color: #2D3663;  
    .korzinka_allsy{
        margin-top: 0px;
        padding: 40px 0;
        .korzinka_all_row{
            a{
        color: white;
            }
            svg{
                color: white;
            }
        }
    }
    .h_teg{
        h1{
            color: white;
        }
    }
    .blogw{
        .blog_all{
            background-color: white;
            border-radius: 15px;
             p{
                padding: 0 8px;
            
                
             }
           
        }
        // .blog_alls{
        //     display: none;
        // }
    }
}

.blogw{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 53px 0;
    gap: 20px;
    .blog_all{
        width: 420px;
        height: 456px;
        border-bottom: 1px solid #000000 ;
        .blog_img{
            position: relative;
            cursor: pointer;
            .blog_img_row{
                position: absolute;
                z-index: 1;
            }
            &:hover .blog_img_row:nth-child(2) img{
                opacity: 0;
            }
         }  
         .p{
            display: flex;
            margin-top: 80%;
            align-items: self-start;
            justify-content: space-between;
            .p1{
                p{
                    width: 310px;
                    height: 70px;
                    font-family: Manrope;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 26px;
                    text-align: left;
                    color: #454545;
                    
                                
                 } 
                 svg{
                    font-size: 20px;
                    margin-left: -30px;
                 }

            }
         }
         p{
            font-family: Manrope;
            font-size: 14px;
            font-weight: 500;
            line-height: 15.4px;
            text-align: left;
            color: #454545;
        
            
         }
       
    }
    .blog_alls{
        display: none;
    }
}

@media(max-width:900px){
    .blogw{
        display: grid;
        grid-template-columns: 1fr 1fr ;
       align-items: center;
        padding: 53px 0;
        gap: 20px;
        .blog_all{
            display: none;
        }
        .blog_alls{
            display: block;
            width: 328x;
            height: 450px;
            border-bottom: 1px solid #000000 ;
            background-color: white;
            border-radius: 15px;
            .blog_img{
                position: relative;
                cursor: pointer;
                
                .blog_img_row{
                    position: absolute;
                    z-index: 1;
                    img{
                        width: 420px;
                        object-fit: contain;
                    }
                }
                &:hover .blog_img_row:nth-child(2) img{
                    opacity: 0;
                }
             }  
             .p{
                display: flex;
                margin-top: 75%;
                align-items: self-start;
                justify-content: space-between;
                width: 368px;
                .p1{
                    p{
                        width: 253px;
                        height: 52px;                    
                        font-family: Manrope;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 26px;
                        text-align: left;
                        color: #454545;
                        
                                    
                     } 
                     svg{
                        font-size: 20px;
                        // margin-left: -100px;
                     }
    
                }
             }
             p{
                font-family: Manrope;
                font-size: 14px;
                font-weight: 500;
                line-height: 15.4px;
                text-align: left;                
                color: #454545;
            
                
             }
           
        }
    } 
}
@media(max-width:768px){
    .blogw{
        display: grid;
        grid-template-columns: 1fr 1fr;
       align-items: center;
        padding: 53px 0;
        gap: 40px;
        .blog_all{
            display: none;
        }
        .blog_alls{
            display: block;
            width: 328x;
            height: 380px;
            border-bottom: 1px solid #000000 ;
            background-color: white;
            border-radius: 15px;
            .blog_img{
                position: relative;
                cursor: pointer;
                
                .blog_img_row{
                    position: absolute;
                    z-index: 1;
                    img{
                        width: 368px;
                    }
                }
                &:hover .blog_img_row:nth-child(2) img{
                    opacity: 0;
                }
             }  
             .p{
                display: flex;
                margin-top: 80%;
                align-items: self-start;
                justify-content: space-between;
                width: 368px;
                .p1{
                    p{
                        width: 253px;
                        height: 52px;                    
                        font-family: Manrope;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 26px;
                        text-align: left;
                        color: #454545;
                        
                                    
                     } 
                     svg{
                        font-size: 20px;
                        // margin-left: -100px;
                     }
    
                }
             }
             p{
                font-family: Manrope;
                font-size: 14px;
                font-weight: 500;
                line-height: 15.4px;
                text-align: left;                
                color: #454545;
            
                
             }
           
        }
    } 
}
@media(max-width:400px){
    .blogw{
        display: grid;
        grid-template-columns: 1fr  ;
        padding: 53px 0;
        gap: 20px;
        .blog_all{
            display: none;
        }
        .blog_alls{
            display: block;
            width: 328x;
            height: 380px;
            border-bottom: 1px solid #000000 ;
            background-color: white;
            border-radius: 15px;
            .blog_img{
                position: relative;
                cursor: pointer;
                
                .blog_img_row{
                    position: absolute;
                    z-index: 1;
                    img{
                        width: 368px;
                    }
                }
                &:hover .blog_img_row:nth-child(2) img{
                    opacity: 0;
                }
             }  
             .p{
                display: flex;
                margin-top: 80%;
                align-items: self-start;
                justify-content: space-between;
                width: 368px;
                padding: 0 2px ;
                .p1{
                    p{
                        width: 253px;
                        height: 52px;                    
                        font-family: Manrope;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 26px;
                        text-align: left;
                        color: #454545;
                        
                                    
                     } 
                     svg{
                        font-size: 20px;
                        // margin-left: -100px;
                     }
    
                }
             }
             p{
                font-family: Manrope;
                font-size: 14px;
                font-weight: 500;
                line-height: 15.4px;
                text-align: left;                
                color: #454545;
                padding: 0 2px;
              
            
                
             }
           
        }
    } 
}
@media(max-width:360px){
    .blogw{
        display: grid;
        grid-template-columns: 1fr  ;
        padding: 53px 0;
        gap: 20px;
        .blog_all{
            display: none;
        }
        .blog_alls{
            display: block;
            width: 328px;
            height: 380px;
            // background-color: white;
            border-radius: 15px;
            border-bottom: 1px solid #000000 ;
            background-color: white;
           
            .blog_img{
                position: relative;
                cursor: pointer;
                
                
                .blog_img_row{
                    position: absolute;
                    z-index: 1;
                    img{
                        width: 328px;
                       
                    }
                }
                &:hover .blog_img_row:nth-child(2) img{
                    opacity: 0;
                }
             }  
             .p{
                display: flex;
                // margin-top: 100px !important;
                align-items: self-start;
                justify-content: space-between;
                width: 328px;
               
                 
               
                .p1{
                    p{
                        width: 253px;                 
                        font-family: Manrope;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 26px;
                        text-align: left;
                        color: #454545;
                        
                        
                        
                                    
                     } 
                     svg{
                        font-size: 20px;
                        // margin-left: -60px;
                     }
    
                }
             }
             p{
                font-family: Manrope;
                font-size: 14px;
                font-weight: 500;
                line-height: 15.4px;
                text-align: left;                
                color: #454545;
            
                
             }
           
        }
    } 
}