.poch.ligth{
   background-color: #1d2031;
   .katalog{
      margin-top: 0;
      padding: 97px 0;
      .katalog_item{
          h1{
               color: white;
          }
      }
      .btn{
         background-color: white;
      }
   }
}

.pochemu{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   align-items: center;
   justify-content: center;
   padding: 40px 0;
   gap: 10px;
   .pochemu_all{
       width: 310px;
       height: 360px;
       border: 1px solid #D9D9D9 ;
       padding:40px 40px;
       background-color: white;
       border-radius: 4px;
        .img{
           display: flex;
           align-items: center;
           justify-content: center;
           width: 80px;
           height: 80px;
           border-radius: 10px;            
           background: #454545;
           transition: all .15s linear;
           cursor: pointer;
           &:hover{
            transform: scale(1.05);
           }
           .img_all{
              
           }
           
        }  
        h1{
           font-family: Manrope;
           font-size: 20px;
           font-weight: 700;
           line-height: 26px;
           text-align: left;
           width: 214px;
           height: 52px;
           color: #454545;    
           margin-top: 79px;         
        } 
        p{
           width: 240px;
           height: 42px;
           font-family: Manrope;
           font-size: 16px;
           font-weight: 400;
           line-height: 20.8px;
           text-align: left;
           color: #454545;
           margin-top: 20px;
                       
        }  
   }
}
.btn{
   display: none;
}
// .btn4{
//    display: none;
// }

@media(max-width:900px){
   .pochemu{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      align-items: center;
      justify-content: center;
      padding: 40px 16px;
      gap: 20px;
      .pochemu_all{
         width: 420px;
         height: 360px;
         border: 1px solid #D9D9D9 ;
         padding:40px 40px;
          .img{
             display: flex;
             align-items: center;
             justify-content: center;
             width: 80px;
             height: 80px;
             border-radius: 10px;            
             background: #454545;
             .img_all{
                
             }
             
          }  
          h1{
             font-family: Manrope;
             font-size: 20px;
             font-weight: 700;
             line-height: 26px;
             text-align: left;
             width: 214px;
             height: 52px;
             color: #454545;    
             margin-top: 79px;         
          } 
          p{
             width: 240px;
             height: 42px;
             font-family: Manrope;
             font-size: 16px;
             font-weight: 400;
             line-height: 20.8px;
             text-align: left;
             color: #454545;
             margin-top: 20px;
                         
          }  
     }
   }
}


@media(max-width:768px){

   .pochemu{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      align-items: center;
      justify-content: center;
      padding: 40px 0;
      gap: 20px;
      .pochemu_all{
         width: 310px;
         height: 360px;
         border: 1px solid #D9D9D9 ;
         padding:40px 40px;
          .img{
             display: flex;
             align-items: center;
             justify-content: center;
             width: 80px;
             height: 80px;
             border-radius: 10px;            
             background: #454545;
             .img_all{
                
             }
             
          }  
          h1{
             font-family: Manrope;
             font-size: 20px;
             font-weight: 700;
             line-height: 26px;
             text-align: left;
             width: 214px;
             height: 52px;
             color: #454545;    
             margin-top: 79px;         
          } 
          p{
             width: 240px;
             height: 42px;
             font-family: Manrope;
             font-size: 16px;
             font-weight: 400;
             line-height: 20.8px;
             text-align: left;
             color: #454545;
             margin-top: 20px;
                         
          }  
     }
  }
}

@media(max-width:400px){

   .pochemu{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      gap: 8px;
      .pochemu_all{
         width: 175px;
         height: 233px;       
         border: 1px solid #D9D9D9 ;
          padding:16px 16px;
           .img{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              border-radius: 10px;            
              background: #454545;
              .img_all{
                 img{
                  width: 24px;
                  height: 24px;
                  object-fit: contain;
                 }
              }
              
           }  
           h1{
              font-family: Manrope;
              font-size: 20px;
              font-weight: 700;
              line-height: 20.8px;
              text-align: left;
              width: 141px;
              height: 63px;
              color: #454545;    
              margin-top: 10px;         
           } 
           p{
            width: 89px;
            height: 54px;        
            font-family: Manrope;
            font-size: 14px;
            font-weight: 400;
            line-height: 18.2px;
              color: #454545;
              margin-top: 16px;
                          
           }  
      }
  }
  .btn4{
   display: none;
   gap: 10px;
   width: 328px;
   border:  none;
   position: relative;
   .btnt{
       display: flex;
       position: absolute;
       top: -120%;
       align-items: center;
       justify-content: center;
       gap: 10px;
       width: 328px;
       height: 50px;
       border-radius: 100px;
       border: 1px solid #454545;
       margin-top: 60px;
   }

}

}
@media(max-width:360px){

   .pochemu{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      gap: 8px;
      .pochemu_all{
         width: 160px;
         height: 233px;       
         border: 1px solid #D9D9D9 ;
          padding:16px 16px;
           .img{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              border-radius: 10px;            
              background: #454545;
              .img_all{
                 img{
                  width: 24px;
                  height: 24px;
                  object-fit: contain;
                 }
              }
              
           }  
           h1{
              font-family: Manrope;
              font-size: 20px;
              font-weight: 700;
              line-height: 20.8px;
              text-align: left;
              width: 141px;
              height: 63px;
              color: #454545;    
              margin-top: 10px;         
           } 
           p{
            width: 89px;
            height: 54px;        
            font-family: Manrope;
            font-size: 14px;
            font-weight: 400;
            line-height: 18.2px;
              color: #454545;
              margin-top: 16px;
                          
           }  
      }
  }
  .btn4{
   display: none;
   gap: 10px;
   width: 328px;
   border:  none;
   position: relative;
   .btnt{
       display: flex;
       position: absolute;
       top: -120%;
       align-items: center;
       justify-content: center;
       gap: 10px;
       width: 328px;
       height: 50px;
       border-radius: 100px;
       border: 1px solid #454545;
       margin-top: 60px;
   }

}

}