.fos.light{
    background-color: #1d2031   !important;
   .div{
   padding: 40px 0;
   text-align: center;
.tx{
    color: #ffffff;

   
}
   }
}


.fos{
   .div{
   padding: 40px 0;
   text-align: center;
   
   }
}