.br.light{
    background-color: #2D3663;
    .katalog{
      margin-top: 0;
      padding: 97px 0;
      .katalog_item{
          h1{
               color: white;
          }
      }
      .btn{
         background-color: white;
      }
   }
  }