.fo{
    background: #F2F2F2;
.footir_all{
    display: flex;
    align-items: self-start;
    justify-content: center;
    gap: 210px;
    padding: 80px 0;
     ul{
        svg {
            width: 170px;
            height: 35px;
            object-fit: contain;
            fill: #454545;
            .oy{
                fill: white;
            }
        }
  
        .p{
            p{
                font-family: Manrope;
                font-size: 24px;
                font-weight: 600;
                line-height: 32.78px;
                text-align: left;
                color: #454545;
                margin-top: 50px;
                
            }
        }
        .img{
            width: 222px;
            height: 39px;
           object-fit: contain;
           margin-top: 35px;
            
        }
        h5{
            font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: 21.86px;
            text-align: left;
            color: #454545;
            padding: 25px 0;
            
        }

        h1{
            font-family: Manrope;
            font-size: 24px;
            font-weight: 700;
            line-height: 32.78px;
            text-align: left;
            color: #454545;
            margin-bottom: 32px;
            
        }
        li a{
            font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: 51.86px;
            text-align: left;
            color: #454545;
           
            
        }
      
     }
     .icon_alli_list{
        display: flex;
        align-items: center;
        gap: 12px;
        .icon_all_row{
            img{
                width: 36px;
                height: 36px;
                object-fit: contain;
            }
        }
    }
}
}
.fo.light{
    background-color: #1d2031   !important;
    .footir_all{
        display: flex;
        align-items: self-start;
        justify-content: center;
        gap: 210px;
        padding: 80px 0;
         ul{
              svg{   
                fill: white;
                .oy{
                   fill:#454545
                }
               }
            .p{
                p{
                    color: white; 
                }
            }
            .img{
                width: 222px;
                height: 39px;
               object-fit: contain;
               margin-top: 35px;
                
            }
            h5{

                color: white; 
                padding: 25px 0;
                
            }
    
            h1{
                color: white;    
            }
            li a{
                color: white; 
            }
          
         }
         .icon_alli_list{
            display: none;
    
        }
    }
}

@media(max-width:990px){
    footer{
        background: #F2F2F2;
    .footir_all{
        display: flex;
        align-items: self-start;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
    padding: 80px 0;

    }
    }  
}
@media(max-width:400px){
    footer{
        background: #F2F2F2;
        padding: 0 16px;
    .footir_all{
        display: flex;
        align-items: self-start;
        justify-content: space-between;
        flex-direction: column;
        padding: 80px 0;
         ul{
            img{
                width: 150px;
                height: 24px;
                object-fit: contain;
            }
            .p{
                p{
                    font-family: Manrope;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 21.86px;
                    text-align: left;                    
                    color: #454545;
                    margin-top: 24px;
                    
                }
            }
            .img{
                width: 136px;
                height: 24px;
               object-fit: contain;
               margin-top: 9px;
                
            }
            h5{
                font-family: Manrope;
                font-size: 16px;
                font-weight: 600;
                line-height: 21.86px;
                text-align: left;
                color: #454545;
                padding: 10px 0;
                
            }
    
            h1{
                font-family: Manrope;
                font-size: 24px;
                font-weight: 700;
                line-height: 32.78px;
                text-align: left;
                color: #454545;
                margin-bottom: 32px;
                margin-top: 1px;
                
            }
            li a{
                font-family: Manrope;
                font-size: 16px;
                font-weight: 600;
                line-height: 40.86px;
                text-align: left;
                color: #454545;
               
                
            }
          
         }
         .icon_alli_list{
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 20px 0;
            .icon_all_row{
                img{
                    width: 36px;
                    height: 36px;
                    object-fit: contain;
                }
            }
        }
    }
    }
    
}
@media(max-width:360px){
    footer{
        background: #F2F2F2;
        padding: 0 16px;
    .footir_all{
        display: flex;
        align-items: self-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        padding: 80px 0;
         ul{
            img{
                width: 150px;
                height: 24px;
                object-fit: contain;
            }
            .p{
                p{
                    font-family: Manrope;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 21.86px;
                    text-align: left;                    
                    color: #454545;
                    margin-top: 24px;
                    
                }
            }
            .img{
                width: 136px;
                height: 24px;
               object-fit: contain;
               margin-top: 9px;
                
            }
            h5{
                font-family: Manrope;
                font-size: 16px;
                font-weight: 600;
                line-height: 21.86px;
                text-align: left;
                color: #454545;
                padding: 10px 0;
                
            }
    
            h1{
                font-family: Manrope;
                font-size: 24px;
                font-weight: 700;
                line-height: 32.78px;
                text-align: left;
                color: #454545;
                margin-bottom: 32px;
                margin-top: 1px;
                
            }
            li a{
                font-family: Manrope;
                font-size: 16px;
                font-weight: 600;
                line-height: 40.86px;
                text-align: left;
                color: #454545;
               
                
            }
          
         }
         .icon_alli_list{
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 20px 0;
            .icon_all_row{
                img{
                    width: 36px;
                    height: 36px;
                    object-fit: contain;
                }
            }
        }
    }
    }
    
}