*{
    font-family: "Manrope", sans-serif;
}
.home{
    position: sticky;
    top: 0px;
    left: 0;
    height: 80px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(91, 89, 89);
    .hom{
        display: flex;
    align-items: center;
    padding: 20px 40px;
    margin-left: -20px;
    gap: 55px;
    .home_All{
        h1{
            font-family: Manrope;
            font-size: 24px;
            font-weight: 600;
            line-height: 38.25px;
            text-align: left;
            color: #FFFFFF;
            height: 38px;
            
        }
        svg{
            font-size: 50px;
            color: #FFFFFF;
            background-color: #6A6A6A;
            padding: 4px 8px;
            border-radius: 8px;
            cursor: pointer;


        }
    }
    
}
.hom{
    .home_All.show{
   svg{
            font-size: 40px;
            color: #FFFFFF;
            background-color: #6A6A6A;
            padding: 4px 8px;
            border-radius: 8px;
            cursor: pointer;


        }
    }
}
.header-right{
    display: flex;
    align-items: center;
    gap: 10px;
    .icon{
        vertical-align: middle;
        line-height: 1px;
        font-size: 30px;
        color: #9e9ea4
      }
  }
}
#dark{
    background-color: white;
}

#light{
    background-color: rgb(91, 89, 89);
}

#dark.home{
  box-shadow: 1px 1px 5px 1px gray;
  .hom{
    .home_All{
        h1{
            color:black;
        }
    }
  }
}



.admin{

    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 200px;

.saidbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(91, 89, 89);
    height: 100vh;
    padding: 96px 20px;
    width: 300px;
    transition: all .15s linear;
  &.show{
   width: 100px;
  }
   ul {
    .all{
        display: flex;
        align-items: center;
        padding: 20px 20px;
        gap: 20px;
      
     }
    .sidebar-list-item{
     display: flex;
     align-items: center;
     padding: 0 20px;
     &:hover{
        background-color: #6A6A6A;
        border-radius: 8px;
        width: 250px;
        
      
    }
   
    .icon{
        font-size: 30px;
        color: rgb(175, 175, 175);
       &.show{
        display: flex;
        align-items: center;
         margin-bottom: 20px;
        justify-content: center;
        font-size: 30px;
        margin-top: 20px;
    }

    }
}
.sidebar-list-item.show:hover{
    background-color: #6A6A6A;
    border-radius: 8px;
    width: 70px !important;
    cursor: pointer;
}
    .all{
        transform: scaleX(1);
        transition: all .15s linear;
        transform-origin: left;
        opacity: 1;
width: 185px;
        a {
            text-decoration: none;
            font-family: Manrope;
            font-size: 18px;
            color: white;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0 0px;
            height: 40px;
            white-space: nowrap;
         
         }
    }
.all.show{
    transform: scaleX(0);
    opacity: 0;
    
  }
.saidbar.show ul li a{
    display: none;
   
   }
   }

   




}
.logout{
    display: flex;
    align-items: self-start;
    padding: 0 20px;
    gap: 10px;
   margin-top: 150px;
   transition: all .15s linear;
   .logout_all{
    svg{
        font-size: 24px;
        color: #FFFFFF;
        cursor: pointer;


    }
    h1{
        font-family: Manrope;
        font-size: 18px;
        font-weight: 600;
        line-height: 24.59px;
        text-align: left;
        color: #FFFFFF;
        cursor: pointer;
        
    }
   }
}
.logout.show{
    display: none;
    align-items: self-start;
    padding: 0 20px;
    gap: 10px;
   margin-top: 40px;
    .logout_all{
        h1{
            display: none;
        }
    }
}
}


.logouts{
    display: none;
    align-items: self-start;
    padding: 0 20px;
    gap: 10px;
   margin-top: 50px;
   transition: all .15s linear;
   .logout_all{
    svg{
        font-size: 24px;
        color: #FFFFFF;
        cursor: pointer;


    }
    h1{
        font-family: Manrope;
        font-size: 18px;
        font-weight: 600;
        line-height: 24.59px;
        text-align: left;
        color: #FFFFFF;
        cursor: pointer;
        
    }
   }
}


.logouts.showa{
    display: block;
   .logout_all{
    h1{
        display: none;
    }
   } 
}

